{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrar administrador</title>

    <link type="text/css" rel="stylesheet" href="{% static 'login\css\CCS_menu_medico.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

    
    <header>
        <div class="container">
            <img src="{% static 'login\img\logo.png' %}" alt="logo" class="logo" width="40" height="50">
    
            <nav>
                <ul>
                    <li><a href="{% url 'admin_reg' %}">Registrar </a></li>
                    <li><a href="{% url 'lista_medicos' %}">administar medico</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="{% url 'inicio' %}">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <h1>Formulario de registro de administrador</h1>
                <hr class="bg-info">
                <p class="pb-0 mb-0">Ingrese los datos necesarios para el registro de la cita</p>
                <p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios*</p>

                <form method="POST" id="formulario" action="{% url 'registra_admin' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                
                        </div>

                    </div>
                    <div class="row from-group">
                        <label for="nombre" class="col-form-label col-md-4">nombre:</label>
                        <div class="col-md-8">
                            <input type="text" name="nombre" id="nombre" class="form-control" required>
                        </div>
                    </div>
                    <br>
                        <div class="row from-group">
                            <label for="apellido" class="col-form-label col-md-4">apellido:</label>
                            <div class="col-md-8">
                                <input type="text" name="apellido" id="apellido" class="form-control" required>
                            </div>
                    </div>
                    <br>
                    <div class="row from-group">
                        <label for="pass" class="col-form-label col-md-4">contraseña:</label>
                        <div class="col-md-8">
                            <input type="password" name="pass" id="pass" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="row from-group">
                        <label for="contra" class="col-form-label col-md-4">repetir contraseña:</label>
                        <div class="col-md-8">
                            <input type="password" name="contra" id="passr" class="form-control"required>
                        </div>
                    </div>
                    <br>
                    <div class="row from-group">
                        <label for="email" class="col-form-label col-md-4">correo:</label>
                        <div class="col-md-8">
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="row from-group">
                        <label for="fechaN" class="col-form-label col-md-4">fecha de nacimiento:</label>
                        <div class="col-md-8">
                            <input type="date" max="2006-05-04" name="fechaN" id="fechaN" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="row from-group">
                        <label for="fechaN" class="col-form-label col-md-4">Foto de Perfil:</label>
                        <div class="col-md-8">
                            <input type="file" name="foto_u" id="foto_u" class="form-control" >
                        </div>
                    </div>
                    <br>
                    <div class="row from-group">
                    <label for="cod">Tipo de usuario</label>
                    <select name="cod" id="cod" >
                        {% for c in rol %}
                        <option value="{{ c.codigo }}">{{ c.tipoUsuario }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <br>
                    
                    <button type="submit" class="btn btn-info">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    

</body>
</html>