{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Inicio</title>
    <link type="text/css" rel="stylesheet" href="{% static 'login\css\CSS_principal.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
<header>
    <div class="container">
        <img src="{% static 'login\img\logo.png' %}" alt="logo" class="logo" width="40" height="50">

        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>

                <li><a href="{% url 'inicio_sesion' %}">Iniciar sesion</a></li>

            </ul>
        </nav>
    </div>
</header>



    <div style="text-align: left;" class="container">
        <div class="row">
            <div class="col-12 ">
                <h2 class="titulocentro ">Sobre Nosotros</h2>
            </div>
            <div class="col-12">
                <p>
                    Somos una clínica veterinaria/campo clínico docente de referencia y 
                    de primer nivel en medicina de pequeños animales, 
                    reconocida a nivel nacional por la calidad de sus profesionales, 
                    infraestructura y equipamiento de primera línea y 
                    de sus servicios integrales que permitan cumplir con todas las necesidades de nuestros pacientes.</p>
            </div>
        </div>
    </div>

    <div style="text-align: left;" class="container-all">
            <div class="row">
            <div class="col-12 " >
                <h2 class="titulocentro">Nuestro Servicios</h2>
            </div>
            </div>
        </div>
        </div>
        <div class="container">
            
            <div class="textoservicio"></div>
            <h3 class="minititulo">Examenes de Rutina</h3>
                <p>Examen de sangre</p>
                <p>Examen de orina</p></li>
                <p>Examen fecales</p>
                <p>Biopsias</p>
                <p>Citologías</p>
                <p>Radiografia y Ecografia</p>

        </div>
    
    


    <div class="container-all">
      
        
        
    <h1 class="title">Nuestro equipo</h1>
    <img src="{% static 'login\Imagenes\veterinario1.JPG' %}" alt="">    
    <p>Nombre: Dr. Miguel Gaete</p>
    <p>Médico Veterinario titulado de la Universidad Mayor</p>
    <p>Diplomado en neurología veterinaria, Universidad de Chile</p>
    <br><br><br><br><br>
    <img src="{% static 'login\Imagenes\veterinario2.jpg' %}">
    <p>Nombre: Dra. Mariela Arellano</p>
    <p>Diplomado en medicina de animales pequeños, Universidad de Chile</p>
    <p>Médico Veterinario titulado de la Universidad Mayor</p>
    <br><br>
    <img src="{% static 'login\Imagenes\veterinario3.JPG' %}">
    <p>Nombre: Dra. Yolanda Nanjari</p>
    <p>Médico Veterinario titulado de la Universidad Mayor</p>
    <p>Diplomado en pequeños animales, HVS</p>

    
    
</div>

<br><br><br><br><br><br>
<footer class="footer">
    <div class="container">
            <div class="row">
            <div class="col-md-6">sucursal: av.mexico 1042</div>    
            <div class="col-md-5">telefono: +569 242215726</div>
            <div class="col-md-1">correo:elpatofeliz@mail.cl</div>
        </div>
    </div>  
  </footer>
  



</body>
</html>